*,
html{
    margin: 0;
    padding: 0;
}

.body{
    background-color: white;
    font-family:'Courier New', Courier, monospace;
}

/* HEADER NAVBAR */
.title-head{
    color: #000;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px;
}
.title-head span{
    color: #0C8A96;
}
.container-title-head{
    width: 100%;
}
.ul-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.li-title{
    list-style-type: square;
    color: #000;
    margin: 20px;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
}
/* HEADER NAVBAR END */

/* HOME */
.container-home{
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.home{
    background-image: url(./Gambar/bg_1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 550px;
    border-radius: 80px;
    border: 20px solid #54AAB2;
}
/* NAVBAR */
.ul-navbar{
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80%;
    height: 45px;
    padding-right: 15px;
    margin-top: 40px;
    margin-left: 75px;
    border-radius: 15px;
    border: 0px solid #000;
    background: #D9D9D9;
}
.li-navbar{
    list-style-type: none;
    margin: 15px;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
}
/* NAVBAR END */
/* JUDUL */
.container-title{
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
.title-web{
    justify-content: center;
    align-items: center;
}
.title-web h1{
    color: #000;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 45px;
    text-decoration-line: underline;
}
.ul-icon{
    display: flex;
    margin-left: 290px;
}
.li-icon{
    list-style-type: none;
    margin: 20px;
}
.feather-icons{
    width: 50px;
    height: 50px;
}
/* JUDUL END */
/* HOME END */

/* ABOUT US */
.container-about{
    margin-top: 70px;
    /* background-color: #000; */
    background-image: url(./Gambar/bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.about{
    height: 550px;
    width: 1000px;
}
.about h1{
    color: #0C8A96;
    text-align: center;
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 65px;
}
.about p{
    color: wheat;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
}
/* ABOUT US END */